@use "../../styles/variables" as *;
@use '../../styles/mixins' as *;



.TodoForm {
    position: relative;

    .todo-input {
        border: 1px solid #7D5DFD;
        border-radius: 8px;
        color: #424242;
        font-size: 16px;
        width: 100%;
        height: 48px;
        margin-bottom: 32px;
        padding: 0 8px;
        &:focus {
            background-color: #F9F6FF;
            outline: none;
        }
    }
}

.floating-btn {
    @include flex (flex, row, center, center);
    width: auto;
    height: 40px;
    padding: 10px;
    border-radius: 333px;
    gap: 2px;
    border: none;
    background: linear-gradient(87deg, rgba(213,108,255,1) 0%, rgba(95,71,255,1) 55%, rgba(59,108,266,1) 100%);
    box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.4);
    // box-shadow: $box-shadow;
    color: $white;
    .plus_icon {
        width: 24px;
        height: 24px;
    }
}

.addSheet { 
    @include flex (flex, column, space-between, start);
    width: 362px;
    background-color: #F0F0F0;
    border-radius: 12px;
    box-shadow: $box-shadow; 

    &__overlay {
        position: absolute;
        inset: 0;
    }
    &__bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 25%;
        background: $white;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
        @include flex (flex, column, space-between, normal);
        animation: slideUp 0.3s ease forwards;
    }
    &__global {
        position: relative;
        @include flex (flex, row, space-between, center);
        gap: 1rem;
        margin: 1rem;
        &--title {
            font-size: 14px;
            width: 100%;
            color: #767676;
            text-align: center;
        }
    &--close-btn {
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        background-color: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    .close-icon {
        width: 16px;
        height: 16px;
    }
    }
    &__top {
        width: 100%;
        padding: 1rem;
        position: relative;
        &--input {
            border: 1px solid #7D5DFD;
            border-radius: 8px;
            color: #424242;
            font-size: 16px;
            width: 100%;
            height: 48px;
            margin-bottom: 1rem;
            padding: 0 8px;
            &:focus {
                background-color: #F9F6FF;
                outline: none;
            }
        }
        &--input::placeholder {
            color: $font-placeholder;
        }
    }
    &__content {
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        @include flex (flex, column, space-between, start);
        &--left {
            margin-left: 12px;
            margin-bottom: 12px;
        }
        &--label {
            font-size: 12px;
            color: #6a6a6a;
            padding-bottom: 8px;;
        }
        &--sets {
            @include flex (flex, row, space-between, start);
            gap: 24px
        }
        .count-btn {
            @include flex (flex, normal, center, center);
            box-sizing: border-box;
            width: 28px;
            height: 28px;
            border: 1px solid #7D5DFD;
            border-radius: 50%;
            color: #7D5DFD;
            background-color: $white;
            cursor: pointer;

            &.selected {
                background-color: #E7E2FF;
                color: #7D5DFD;
        }
        }
    }
}

.confirm-btn {
    width: 100%;
    background: #7D5DFD;
    color: $white;
    border: none;
    padding: 12px;
    cursor: pointer;
}        
