//break points
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//colors (not finalized)
$primary: #1869DA;
$secondary:  #5082FF;
$tertiary: #FCDDFF;
$tertiary-supporting: #6B0A94;

$background-list: #EDEDED;
$background-listDone: #E3EBFF;

$coolgrey: #D0D0D0;
$white: #fff;

$primary-font: #262626;

$state-red: #FF3D3D;