@use "../../styles/variables" as *;
@use '../../styles/mixins' as *;


.progressTube {
    position: relative;
    height: 34px; 
    background-color: $white;
    border-radius: 16px;
    border: 3px solid $white;
    overflow: hidden;

    &__fill {
        position: absolute;
        background-color: rgba(226, 219, 255, 0.7);
        left: 0;
        top: 0;
        bottom: 0;
        width: 0%;
        transition: width 0.3s ease;
        border-radius: 16px; 
    }
    &__buttons {
        position: relative;
        @include flex (flex, row, normal, center);
        width: auto;
        height: 100%;
        z-index: 1;
        gap: 16px;
    }
    &__set-btn {
        position: relative;
        min-width: 58px;
        height: 28px;
        border-radius: 999px;
        border: 1.6px solid #7D5DFD;
        background-color: #E2DBFF;
        color: #7D5DFD; 
        font-size: 14px;
        cursor: pointer;

        transition: background-color 0.2s ease, opacity 0.2s ease;

        &.selected {
            background-color: #E2DBFF;
            color: rgba(143, 121, 162, 0.6);
            border: 1px solid rgba(143, 121, 162, 0.6);
            text-decoration: line-through;
        }
        &:disabled {
            cursor: not-allowed;
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #D9D8D8;
            color: #D9D8D8;
            font-size: 14px;
        }
    }
}