@use "../../styles/variables" as *;

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDEDED;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.incompleted {
    color: #fff;
    cursor: pointer;
}

.completed {
    color: #5082FF;
    text-decoration: line-through;
    cursor: pointer;
}

.edit-btn,
.delete-icon {
    cursor: pointer;
}

