@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.todoPage {
    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        &--icon {
            width: 44px;
        }
    }
}

.workoutBoard {
    @include flex (flex, column, flex-start, flex-start);
    width: 100%;
    border: .5px solid #424CDC;
    border-radius: 12px;
    margin-bottom: 2rem;
    background-color: $white;
    .card-text {
        font-size: 12px;
        background-color: #424CDC;
        color: $white;
        border-radius: 12px 0 12px 0;
        padding: 4px 8px;
    }
    &__card-mid {
        @include flex (flex, row, flex-start, center);
        width: 100%;
        padding: 1rem;
        border-bottom: .5px solid #424CDC;
    }
    .target-title {
        font-size: 13px;
        padding: .25rem;
        color: #6E6E6E;
    }
    .target-chip {
        font-size: 13px;
        padding: 0 4px;
        display: inline-block;
        border-radius: 4px;
    
        &.full {
            background-color: #E6F4EA;
            color: #178038;
        }
        &.upper {
            background-color: #FEF7E0;
            color: #C76F12;
        }
        &.lower {
            background-color: #D0EFFF;
            color: #0372C1;
        }
    }
    &__card-bottom {
        @include flex (flex, column, flex-start, center);
        padding: 1rem;
        &--time {
            font-size: 28px;
            font-weight: bold;
            color: #424CDC;
            padding-bottom: 1rem;
        }
        &--text {
            width: 100%;
            font-size: 14px;
            color: #424CDC;
        }
    }
}







