@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.error-notification {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: $state-red-background;
    border-radius: 4px;
    padding: 8px 12px;
    z-index: 9999;
    gap: 8px;

    &--icon {
        @include flex (flex, row, center, center);
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: $state-red;
    }
    &--mark {
        text-align: center;
        font-weight: bold;
        width: 12px;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
    }
    &--text {
        color: $state-red;
        font-size: 12px;
    }
}